footer {
    height: 60px;
}

.footer {
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #363636;
    color: #878787;
}
  
.footer p {
    text-align: center;
    color: #878787;
    text-shadow: 2px 2px 4px #000;
}