.colored-row {
    height: 250px;
}

.content {
    margin-top: -216px;
}

.home-title {
    color: rgb(56, 131, 139);
    font-family: IransansBold;
    font-size: 30px;
}

.home-paragraph {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 21px;
    color: rgb(50,50,50);
}

.project-search {
    width: 100%;
    margin-top: 20px;
}

.search-project-form {
    border-bottom: 3px solid rgb(75, 172, 188);
    background-color: rgb(215, 240, 242);

    .search-project-input {
        background-color: inherit;
        input{
            background-color: inherit;
            border: none;
            width: 100%;
            height: 50px;
        }

        input:focus{
            outline: none;
        }

        ::placeholder {
            color: rgb(75, 136, 139);
            font-size: 18px;
        }

        padding-left: 0px;
    }

    .submit-search-project {
        padding-right: 0px;
        button {
            background-color: rgb(75, 172, 188);
            border: none;
            color: white;
            width: 100px;
            height: 40px;
            margin-top: 0.35em;
            margin-right: 17px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .submit-search-project button {
      width: 80px !important;
      margin-right: -10px !important;
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 990px) {
    .submit-search-project button {
        width: 90px !important;
        margin-right: 6px !important;
    }
  }

.main-content {
    margin-top: 3%;
}

.users {
    input {
        width: 225px;
        height: 45px;
        border: 3px solid white;
        border-radius: 3px;
        background-color: rgb(249, 249, 249);
        padding-right: 8px;
        margin-bottom: 10px;
    }

    input::placeholder {
        opacity: 0.5;
    }
}

.user-img {
    // margin-top: 10px;

    img {
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.user-row {
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 225px;
    padding-top: 6px;
    padding-bottom: 6px;

    .fullname {
        font-size: 13px;
    }

    .job-title {
        font-size: 10px;
        opacity: 0.6;
    }

    p {
        margin-bottom: 5px;
        padding-right: 15px;
    }
}