header {
    height: 60px;
}

.header {
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: white;
}

.navbar-header {
    height: 60px;
}
  
.navbar-header .logo_icon img {
    width: 130px;
}
  
.navbar-header .account-link a {
    text-align: center;
}

a.exit-link:link {
    text-decoration: inherit;
    color: inherit;
  }
  
a.exit-link:visited {
    text-decoration: inherit;
    color: inherit;
}